{% extends "base.html" %}
{% block title %}
<div style="text-align: center ; margin-top:100px">
    <img style="container is-fullhd" width="400" height="3500" alt="bank_logo" src={{ url_for('static', filename='src/bankimmo_logo.png' ) }}>
</div>


{% endblock %}
{% block content %}
<body>
    <div style="font-size:16px; margin: 45px auto 30px auto; color:grey; font-family: Helvetica">
        <h2 style="font-size:18px"> Bienvenue </h2>
        <br>
        <p>
            Désormais, vous pouvez estimer votre bien à l'aide de notre simulateur de prix doté d'intelligence artificiel et retrouvez vos recherches à tout moment.
        </p>   
    </div>

    <img style="image is-3by1" src= "https://img.freepik.com/photos-gratuite/maison-modele-plans-projet_273609-16397.jpg?w=1060&t=st=1682183261~exp=1682183861~hmac=7868240d889739e04c87c63383508f5e815ec089ea02eb54982ebca5e99fed4e, width="20px">

</body>


{% endblock %}